.balance {
    position: relative;  
    
    // display: none;

    &:hover > .balance__more-info {
        opacity: 1;
        visibility: visible;
        top: 65px;
    }

    &__info {
        height: 38px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        line-height: 100%;
        border-right: 2px solid $color-dark-blue;
        padding-right: 15px;
        margin-right: 25px;
        box-sizing: border-box;
        cursor: pointer;        
    }

    &__caption {
        font-size: 16px;
    }

    &__more-info {
        width: 260px;
        position: absolute;
        top: 85px;
        left: -10px;
        background: white;
        border: 1px solid #DFE0E3;
        box-sizing: border-box;
        box-shadow: 0px 3px 26px #0000005C;
        transition: .3s;
        opacity: 0;
        visibility: hidden;

        &::before {
            content: "";
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid white;
            position: absolute;
            top: -15px;
            left: 60px;
        }
    }

    &__list {
        @include undone-list;
    }

    &__item {
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
        padding-right: 17px;
        border-bottom: 1px solid #DFE0E3;        
    }
}